[submodule "Resources/Matmoul/archfi"]
	path = Resources/Matmoul/archfi
	url = https://github.com/Matmoul/archfi.git
[submodule "Resources/Matmoul/archdi-pkg"]
	path = Resources/Matmoul/archdi-pkg
	url = https://github.com/Matmoul/archdi-pkg.git
[submodule "Resources/Matmoul/archdi"]
	path = Resources/Matmoul/archdi
	url = https://github.com/Matmoul/archdi.git
[submodule "Resources/alis"]
	path = Resources/alis
	url = https://github.com/picodotdev/alis.git
[submodule "Resources/yais"]
	path = Resources/yais
	url = https://github.com/yet-another-install-script/yais.git
